<div id="Contact" class="flex flex-col justify-center align-center">
    <h2>Contact Me</h2>
    <p>Reach out for any questions</p>
    <form name="contactForm" method="POST" data-netlify="true" class="flex flex-col">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" required></textarea>
        <button type="submit">Send</button>
    </form>
</div>