<div class="hero">
    <div class="left-content">
        <h1 class="fancy-text-shadow">Logan Murray</h1>
        <h2>Software Engineer</h2>
        <p>
            I am a software engineer with a passion for creating
            beautiful and functional websites. I love to solve
            problems and create new things.
        </p>
        <div class="dual-btns">
            <cool-button>About Me</cool-button>
            <cool-button>Resume</cool-button>
        </div>
    </div>
    <div class="right-content">
        <img src="assets/prof_blacksuit_bg_square-removebg-preview.png" alt="Logan Murray" class="fancy-drop-shadow">
    </div>
</div>