:host {
    margin-top: 4rem;
}
.hero {
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    h1 {
        font-size: clamp(2rem, 5vw, 5rem);
        margin: 1rem;
    }

    h2 {
        font-size: clamp(1.5rem, 3vw, 3rem);
        margin: 1rem;
    }

    p {
        width: 300ch;
        margin: 1rem;
    }

    .left-content {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 768px) {
            order: 2;
        }
    }

    .right-content {
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 768px) {
            order: 1;
        }
        img {
            width: 20rem;
            height: 20rem;
        }
    }
}