@use 'app/styles/_flex.scss';
@use 'app/styles/_spacings.scss';
@use 'app/styles/_theme.scss';
@use 'app/styles/_panels.scss';

@import url('https://fonts.googleapis.com/css2?family=Anta&family=Pixelify+Sans&display=swap');

* {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p,
span,
h3,
h4,
h5,
h6,
label,
input,
textarea, small {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --yellow: #fcd212;
    --orange: #f96a0d;
    --pink: #ba04cd;
    --dark-purple: #4d08a8;
    --light-orange: #fca90f;
    --retro-red: #f20c2d;
    --black: #111219;
}

html,
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--black);
    background-image: url('assets/vertical-globs.svg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

    color: #fff;
}

main {
    margin-top: 8rem;

    @media screen and (max-width: 768px) {
        margin-top: 5.5rem;
        margin-bottom: 4rem;
    }
}