@use 'app/styles/_flex.scss';
@use 'app/styles/_spacings.scss';
@use 'app/styles/_theme.scss';
@use 'app/styles/_panels.scss';

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

* {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root {
    --yellow: #fcd212;
    --orange: #f96a0d;
    --pink: #ba04cd;
    --dark-purple: #4d08a8;
    --light-orange: #fca90f;
    --retro-red: #f20c2d;
    --black: #111219;
}

body {
    background-color: var(--black);
    background-image: url('assets/groovy-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: #fff;
    margin: 0;
    padding: 0;
}

// some basic resets
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


main {
    margin-top: 8rem;
    margin-bottom: 8rem;

    @media screen and (max-width: 768px) {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}